<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Doa Pet
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
        <!--/ imputs email /-->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              id="email"
            />
          </mat-form-field>
          <br />

          <!--/ /imputs email /-->

          <!--/ imputs senha /-->

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              placeholder="Senha"
              id="senha"
            />
          </mat-form-field>
          <br />
        </div>
        <!--/ /imputs senha /-->

        <!--/ imputs botão /-->
        <div class="flex-row">
          <button mat-raised-button type="submit" color="primary">
            Entrar
          </button>
        </div>
      <!--/ /imputs botão /-->
    </mat-card-content>
  </mat-card>
</div>


