<div class="main-div">
  <mat-card>
    <app-content-header [subtitle]="'Pets'"></app-content-header>

    <mat-card-content class="principal">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let pet of listaPets">
          <mat-expansion-panel-header>
            <mat-panel-title> Nome: {{ pet.nome }} </mat-panel-title>
            <mat-panel-description>
              Contato: {{ pet.telefone }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            Descricao: <br />
            {{ pet.descricao }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>

      <div style="display: flex; justify-content: center; padding-top: 15px;">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          routerLink="/adiciona-pet"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
