<div class="main-div">
  <mat-card>
      <mat-card-content>  Doa Pet
        <form class="flex-column" [formGroup]="forms" (ngSubmit)="onSubmit()">

        </form>
  <!--/ imputs email /--> 
  <div>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="Email"
      id="email"
      formControlName="email"
    />
  </mat-form-field>
  <br>

  <!--/ /imputs email /--> 

  <!--/ imputs senha /-->

  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input
      matInput
      type="password"
      placeholder="Senha"
      id="senha"
      formControlName="senha"
    />
  </mat-form-field>
  </div>
  <!--/ /imputs senha /--> 

  <!--/ imputs botão /--> 
  <div class="flex-row">
    <section>
      <a href="url">Esqueceu a senha?</a>
      <button mat-raised-button color="primary">Entrar</button>
    </section>
  </div>
  <!--/ /imputs botão /--> 
      </mat-card-content>
  </mat-card>
</div>
