$headerBarHeight: 75px;

mat-card {
  border-top-left-radius: 1px;
  border-top-right-radius: 15px;
  background-color: #303030;;
}

.error-msg {
  color: rgb(255, 69, 69);
  width: 120px;
  margin-left: 15px;
  text-align: center;
}

%flex {
  display: flex;
  align-items: center;
}

.flex-column {
  @extend %flex;

  flex-direction: column;
}

.flex-row {
    @extend %flex;
    
    flex-direction: row;
    justify-content: space-between;
    width: -moz-available;
  }
  