<div class="main-div">
    <mat-card>
        <mat-card-content> Cadastro Doa pet 
          <!-- <form class="flex-column" [formGroup]="forms" (ngSubmit)="onSubmit()"> -->
  
          <!-- </form> -->
  
    <!--/ imputs Nome completo /--> 
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input
          matInput
          placeholder="Nome completo"
          id="nome-completo"
        />
      </mat-form-field>
      <br>
    
      <!--/ /imputs Nome completo /--> 

              <!--/ imputs numero telefone /--> 
              <mat-form-field appearance="outline">
                <mat-label>Número de telefone</mat-label>
                <input
                  matInput
                  placeholder="Número de telefone"
                  id="numero-telefone"
                />
              </mat-form-field>
              <br>
            
              <!--/ /imputs telefone /--> 

    <!--/ imputs descrição do animal /-->
  
    <mat-form-field appearance="outline" class="descricao">
      <mat-label>Descricao-pet</mat-label>
      <input
      
        matInput
        type="text"
        placeholder="descricao"
        id="descricao" 
      />
    </mat-form-field>
    <br>
    </div>
    <!--/ /imputs descrição do animal /--> 
    
    <!--/ imputs botão /--> 
    <div class="flex-row">
      <section>
        <button mat-raised-button color="primary">Adicionar</button>
      </section>
    </div>
    <!--/ /imputs botão /--> 
        </mat-card-content>
    </mat-card>
  </div>
  <router-outlet></router-outlet>